

.filelist {
  margin: 20px 0;

  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }

  &__name {
    grid-column-start: 2;
  }
  &__date {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }


}
